.card-container {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  text-align: left;
}

.infallible {
  text-align: right;
}

.details {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.arrow {
  border: solid #999da6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 3px;
  width: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}